{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>

    <title>Login</title>
</head>
<body>
<div class="bg-image">
    <div class="signup-container" align="center">
        <h1>Login</h1>
        <h2>Unlimited movies, TV shows, and more.</h2>
        <div>
            <style>
                h5{
                    color: red;
                }
            </style>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password">
            <button style="color:yellow" type="submit" class="signup-btn"> > Login <</button>
        </form>
        <div class="help-text" align="center">
            <span>Ready to watch? Enter your email to create or restart your membership.</span>
            <br>
            <br>
            <span>Dont have an account? <a href="/signup">Signup</a></span>
            <br>
            <br>
            <span>
                     <a href="https://github.com/h41pa"><img src="/static/images/github.png" alt="Github"></a>
                     <a href="https://github.com/h41pa"><img src="/static/images/linkedin.png" alt="linkedin"></a>
                     <a href="https://discordapp.com/users/176105464675827712"><img src="/static/images/discord.png"
                                                                                    alt="discord"></a>
                </span>
        </div>

    </div>

</div>
</body>

</html>